#header {

  justify-content: space-between;
  background: #4acaa8;
  color: #d2dde9;
  /* height: 100%; */
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 25%;
  right: 0;
  height: 729px;
}

#wrapper {
  background: #fff;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
	/* padding: 0px 0 1px 0; */
  padding-right: 25%;

}


/* 
*, ::before, ::after {
  box-sizing: inherit;
} */

#header {
  color: #d2f2e9;
  text-align: center;

}

body, input, select, textarea {
  color: #888;
  font-family: "Lato", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em;
  margin:0;
  padding: 0;
 
}



/* PARTI RESERVE POUR LEAFLET */
#map {
	text-align : justify ;
	width: 100%;
	padding-left : 5px;
	height: 720px;
	border : 5px solid #36363680 ;
}

.labelPoly{
	color : white;
	background :#203040;
	border: none;
}

.leaflet-clickable {
  transition: fill-opacity .2s, fill .2s;
}

#instructions {
  background-color: #eee;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9000;
  width: 300px;
  padding: 20px;
}
#info h4 {
    margin: 0 0 5px;
    color: #777;
}
.sublegend-color {
    width: 20px;
    border: 1px solid #666666;
    display: inline-block;
    opacity: 0.5;
}

.sublegend-item {
    padding-top: 0.2em;
}

.sublegend {
    list-style: none;
    padding-inline-start: 24px;
    margin-top: 0px;
}

.mycluster {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #0161a1;
  color: white;
  text-align: center;
  font-size: 20px;    
  line-height: 40px;
  margin-top: -20px;
  margin-left: -20px;
}